<h3>Create an Account</h3>

<form [formGroup]="authForm"
  (ngSubmit)="onSubmit()"
  class="ui form">
  <app-input [control]="authForm.controls.username"
    label="Username"
    type="text"></app-input>

  <app-input [control]="authForm.controls.password"
    label="Password"
    type="password"></app-input>

  <app-input [control]="authForm.controls.passwordConfirmation"
    label="Password Confirmation"
    type="password"></app-input>

  <div *ngIf="(authForm.controls.passwordConfirmation.touched ||
    authForm.controls.passwordConfirmation.dirty) &&
    authForm.errors"
    class="ui red basic label">
    <p *ngIf="authForm.errors.passwordsDontMatch">
      Password and Password Confirmation must match
    </p>
    <p *ngIf="authForm.errors.noConnection">
      No internet connection detected, failed to sign up
    </p>
    <p *ngIf="authForm.errors.unknownError">
      Failed to sign up
    </p>
  </div>

  <div>
    <button
      [disabled]="!authForm.valid"
      class="ui submit button primary"
      type="submit">Submit</button>
  </div>
</form>
