<form [formGroup]="emailForm" class="ui form">
  <app-input [control]="emailForm.controls.to"
    label="To"
    type="email">
  </app-input>
  <app-input [control]="emailForm.controls.from"
    label="From"
    type="email">
  </app-input>
  <app-input [control]="emailForm.controls.subject"
    label="Subject"
    type="text">
  </app-input>
  <app-input [control]="emailForm.controls.text"
    label="Content"
    type="text">
  </app-input>

  <button class="ui button primary">Send</button>
</form>
